# macOS
.DS_Store

# JetBrains IDEs
.idea/
*.iml
*.iws
*.ipr

dockerComands
docker-Volumes




HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/



Auth-Service/.gitattributes
Auth-Service/.gitignore
Auth-Service/.mvn/
Auth-Service/mvnw
Auth-Service/mvnw.cmd



api-gateway/.gitattributes
api-gateway/.gitignore
api-gateway/mvnw
api-gateway/mvnw.cmd


Infrastructure/cdk.out/*